@use "../globals/" as colors;
@use "../globals/" as queries;

.card {
  position: relative;
  width: 90%;
  color: colors.$colors-primary-light;
  background-color: colors.$color-grayish-dark;
  padding: 1rem 1.5rem;
  text-align: center;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  @include queries.respond(width-m-size) {
    width: 100%;
    max-width: 43.75rem;
  }

  @include queries.respond(width-x-size) {
    max-width: 31.25rem;
    padding: 1.5rem;
  }
}

.card__advice__number {
  font-size: 0.7rem;
  font-weight: 100;
  padding: 2em 0;
  color: colors.$colors-primary-dark;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card__advice {
  padding-bottom: 0;
}

.card__img {
  margin: 2rem auto 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  background-color: colors.$colors-primary-dark;
  border: 0;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: 0 0 1rem 1rem rgba(colors.$colors-primary-dark, 0.25);
  }
}
